.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

a {
 text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto",
        sans-serif;
        color: #434455;
        background-color: #FFFFFF;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.menu-link {
color: #2E2F42;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    word-wrap: break-word
}
.menu-link-contacts {
    color: #434455;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        word-wrap: break-word
}
.menu-link:hover,
.menu-link:focus {
    color: #fd9222;
}
